body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Cascadia Code', Monospace;
  margin: 2rem;
}

h1 {
  color: #ffffff;
}

a {
  color: #80cbc4;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

a:hover {
  text-decoration: underline;
}

.hit-counter {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
}
