body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Cascadia Code', Monospace;
  margin: 2rem;
  position: relative;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #dfdfdf;
}

a {
  color: #80cbc4;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

a:hover {
  text-decoration: underline;
}

